<div class="col s12" id="comments">
    {% if comments %}
        <div>
            <table class="responsive-table highlight centered bordeblue-grey">
                <thead>
                    <tr>
                        <th>Auteur</th>
                        <th>Contenu</th>
                        <th>Article</th>
                        <th>Signalement</th>
                        <th>Action</th>
                    </tr>
                </thead>
                {% for comment in comments %}
                    <tr>
                        <td>{{ comment.author }}</td>
                        <td>{{ comment.content }}</td>
                        <td>{{ comment.article.title }}</td>
                        <td class="{{ comment.reporting == null ? "" : "red white-text" }}">{{ comment.reporting == null ? "ok" : "Ce commentaire à été signalé comme indésirable" }}</td>
                        <td>
                            <a class="btn tooltipped waves-effect blue lighten-1" href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" data-position="top" data-delay="30" data-tooltip="Editer">
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <button class="btn tooltipped waves-effect red lighten-1" type="button" data-target="#commentDialog{{ comment.id }}" role="dialog" data-position="top" data-delay="30" data-tooltip="Supprimer">
                                <i class="material-icons">delete</i>
                            </button>
                            <div class="modal" id="#commentDialog{{ comment.id }}" role="dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <button class="modal-action modal-close waves-effect btn-flat right" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div>
                                        <h4 class="modal-title" id="myModalLabel">Veuillez confirmer</h4>
                                        <p>Voulez-vous vraiment supprimer ce commentaire ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="modal-action modal-close waves-effect btn-flat">Annuler</button>
                                        <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn waves-effect red lighten-1">Supprimer</a>
                                    </div> <!-- modal footer -->
                                </div> <!-- modal content -->
                            </div>  <!-- modal -->
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% else %}
        <div class="card-panel orange white-text">
            Aucun commentaires trouvés.
        </div>
    {% endif %}
</div> <!-- Comments -->