{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}
{% block content %}
<div class="container">
    <h2 class="blue-grey-text text-darken-2"><i class="material-icons medium icon-bottom-medium">settings</i> {{ block('title') }}</h2>
    <hr>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card-panel green white-text">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active blue-grey-text" href="#articles"><i class="material-icons icon-bottom-tiny tiny">description</i> Articles</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#comments"><i class="material-icons icon-bottom-tiny tiny">comment</i> Commentaires</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#chapters"><i class="material-icons tiny icon-bottom-tiny">library_books</i> Chapitres</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#header"><i class="material-icons tiny icon-bottom-tiny">view_day</i> En-tête de l'acceuil</a>
                </li>
            </ul>
        </div> <!-- Categories end -->

        <!-- Included different parts of table -->
        {{ include('inc/admin_article.html.twig') }} <!-- Article -->
        {{ include('inc/admin_comment.html.twig') }} <!-- Comment -->
        {{ include('inc/admin_chapter.html.twig') }} <!-- Chapter -->
        {{ include('inc/admin_header.html.twig') }} <!-- header -->
    </div>
</div>
{% endblock content %}
