{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}
{% block content %}
<div class="container">
    <h2 class="blue-grey-text text-darken-2"><i class="material-icons medium icon-bottom-medium">settings</i> {{ block('title') }}</h2>
    <hr>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card-panel green white-text">
            {{ flashMessage }}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3">
                    <a class="active blue-grey-text" href="#articles"><i class="material-icons icon-bottom-tiny tiny">description</i> Articles</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#comments"><i class="material-icons icon-bottom-tiny tiny">comment</i> Commentaires</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#chapters"><i class="material-icons tiny icon-bottom-tiny">library_books</i> Chapitres</a>
                </li>
                <li class="tab col s3">
                    <a class="blue-grey-text" href="#header"><i class="material-icons tiny icon-bottom-tiny">view_day</i> En-tête de l'acceuil</a>
                </li>
            </ul>
        </div> <!-- Categories -->
        <div class="col s12" id="articles">
            {% if articles %}
                <div>
                    <table class="responsive-table highlight centered bordered">
                        <thead>
                            <tr>
                                <th>Titre</th>
                                <th>Contenu</th>
                                <th>Chapitre</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for article in articles %}
                            <tr>
                                <td><a href="{{ path('article', { 'id': article.id }) }}">{{ article.title }}</a></td>
                                <td>{{ article.content | truncate(60) | striptags}}</td>
                                <td>{{ article.chapter }}</td>
                                <td>
                                    <a class="btn tooltipped blue lighten-1" href="{{ path('admin_article_edit', { 'id': article.id }) }}" data-position="top" data-delay="30" data-tooltip="Editer">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <button class="waves-effect btn tooltipped red lighten-1" type="button" data-target="#articleDialog{{ article.id }}" role="dialog" data-position="top" data-delay="30" data-tooltip="Supprimer">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <div class="modal" id="#articleDialog{{ article.id }}" role="dialog" aria-hidden="true">
                                        <div class="modal-content">
                                            <button class="modal-action modal-close waves-effect btn-flat right" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="myModalLabel">Veuillez confirmer</h4>
                                            <p>Voulez-vous vraiment supprimer cet article ?</p>
                                            <div class="modal-footer">
                                                <button class="modal-action modal-close waves-effect btn-flat">Annuler</button>
                                                <a href="{{ path('admin_article_delete', {'id': article.id}) }}" class="btn red lighten-1">Supprimer</a>
                                            </div> <!-- modal footer -->
                                        </div> <!-- modal content -->
                                    </div>  <!-- modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="card-panel orange white-text">
                    Aucun article trouvé.
                </div>
            {% endif %}
            <div class="mt_btn right-align">
                <a href="{{ path('admin_article_add') }}" class="btn-floating btn-large tooltipped waves-effect blue lighten-1" data-position="left" data-delay="30" data-tooltip="Ajouter une article">
                    <i class="material-icons">add</i>
                </a>
            </div>
            
        </div> <!-- Articles -->
        <div class="col s12" id="comments">
            {% if comments %}
                <div>
                    <table class="responsive-table highlight centered bordered">
                        <thead>
                            <tr>
                                <th>Auteur</th>
                                <th>Contenu</th>
                                <th>Article</th>
                                <th>Signalement</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        {% for comment in comments %}
                            <tr>
                                <td>{{ comment.author }}</td>
                                <td>{{ comment.content }}</td>
                                <td>{{ comment.article.title }}</td>
                                <td class="{{ comment.reporting == null ? "" : "red white-text" }}">{{ comment.reporting == null ? "ok" : "Ce commentaire à été signalé comme indésirable" }}</td>
                                <td>
                                    <a class="btn tooltipped waves-effect blue lighten-1" href="{{ path('admin_comment_edit', { 'id': comment.id }) }}" data-position="top" data-delay="30" data-tooltip="Editer">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <button class="btn tooltipped waves-effect red lighten-1" type="button" data-target="#commentDialog{{ comment.id }}" role="dialog" data-position="top" data-delay="30" data-tooltip="Supprimer">
                                        <i class="material-icons">delete</i>
                                    </button>
                                    <div class="modal" id="#commentDialog{{ comment.id }}" role="dialog" aria-hidden="true">
                                        <div class="modal-content">
                                            <button class="modal-action modal-close waves-effect btn-flat right" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <div>
                                                <h4 class="modal-title" id="myModalLabel">Veuillez confirmer</h4>
                                                <p>Voulez-vous vraiment supprimer ce commentaire ?</p>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="modal-action modal-close waves-effect btn-flat">Annuler</button>
                                                <a href="{{ path('admin_comment_delete', {'id': comment.id}) }}" class="btn waves-effect red lighten-1">Supprimer</a>
                                            </div> <!-- modal footer -->
                                        </div> <!-- modal content -->
                                    </div>  <!-- modal -->
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% else %}
                <div class="card-panel orange white-text">
                    Aucun commentaires trouvés.
                </div>
            {% endif %}
        </div> <!-- Comments -->
        <div class="col s12" id="chapters">
            {% if chapters %}
                <div>
                <table class="responsive-table highlight centered bordered">
                    <thead>
                        <tr>
                            <th>Numéro</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    {% for chapter in chapters %}
                    <tr>
                        <td>{{ chapter.number }}</td>
                        <td>
                            <a class="btn tooltipped waves-effect blue lighten-1" href="{{ path('admin_chapter_edit', { 'id': chapter.id }) }}" data-position="top" data-delay="30" data-tooltip="Editer">
                                <i class="material-icons">mode_edit</i>
                            </a>
                            <button class="btn tooltipped waves-effect red lighten-1" type="button" data-target="#chapterDialog{{ chapter.id }}" role="dialog" data-position="top" data-delay="30" data-tooltip="Supprimer">
                                <i class="material-icons">delete</i>
                            </button>
                            <div class="modal" id="#chapterDialog{{ chapter.id }}" role="dialog" aria-hidden="true">
                                <div class="modal-content">
                                    <button class="modal-action modal-close waves-effect btn-flat right" type="button" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <div>
                                        <h4 class="modal-title" id="myModalLabel">Veuillez confirmer</h4>
                                        <p>Voulez-vous vraiment supprimer ce chapitre ?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="modal-action modal-close waves-effect btn-flat">Annuler</button>
                                        <a href="{{ path('admin_chapter_delete', {'id': chapter.id}) }}" class="btn waves-effect red lighten-1">Supprimer</a>
                                    </div> <!-- modal footer -->
                                </div> <!-- modal content -->
                            </div>  <!-- modal -->
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% else %}
                <div class="card-panel orange white-text">
                    Aucun chapitre trouvés.
                </div>
            {% endif %}
            <div class="mt_btn right-align">
                <a href="{{ path('admin_chapter_add') }}" class="btn-floating btn-large tooltipped waves-effect blue lighten-1" data-position="left" data-delay="30" data-tooltip="Ajouter un chapitre">
                    <i class="material-icons">add</i>
                </a>
            </div>
        </div> <!-- Chapters -->
        <div class="col s12" id="header">
            {% if header %}
            <div>
                <table class="responsive-table highlight centered bordered">
                    <thead>
                        <tr>
                            <th>Image 1</th>
                            <th>Titre</th>
                            <th>sous-titre</th>
                            <th>Image 2</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div style="width:200px;">
                                    <img src="{{ asset('img/' ~header.image1 ) }}" alt="Photo de l'Alaska" style="width:100%;">
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{{ header.title }}</p>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p>{{ header.subtitle }}</p>
                                </div>
                            </td>
                            <td>
                                <div style="width:200px;">
                                    <img src="{{ asset('img/' ~header.image2 ) }}" alt="Photo de l'Alaska" style="width:100%;">
                                </div>
                            </td>
                            <td>
                                <a class="btn tooltipped waves-effect blue lighten-1" href="{{ path('admin_header_edit', { 'id': header.id }) }}" data-position="top" data-delay="30" data-tooltip="Editer">
                                    <i class="material-icons">mode_edit</i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
            {% else %}
                <div class="card-panel orange white-text">
                    Aucune en-tête de trouvés.
                </div>
            {% endif %}
        </div> <!-- Header -->
    </div>
</div>
{% endblock content %}