{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="container">
    <h2 class="blue-grey-text text-darken-2">
        <i class="material-icons medium icon-bottom-medium">mode_edit</i> {{ block('title') }}
    </h2>
    <hr>
    {% for flashMessage in app.session.flashBag.get('success') %}
        <div class="card-panel green">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {{ form_start(articleForm)}}
    <div class="row">
        <div class="col s10">
            <h5 class="blue-grey-text">>> Ajouter une image d'en-tête</h5>
            <div class="file-field input-field">
                <div class="btn">
                    <span>Mes fichiers</span>
                    {{ form_errors(articleForm.image) }}
                    {{ form_widget(articleForm.image) }}
                </div>
                <div class="file-path-wrapper">
                    <input class="file-path validate" type="text">
                </div>
            </div>
        </div>
        <div class="col s2 center-align">
            <a class="tooltipped" data-position="top" data-delay="50" data-tooltip="Le format idéal pour vos images doit être 1920px*700px et les fichiers doivent être en '.jpg', '.jpeg', ou '.png'">
                <i class="material-icons medium orange-text info no-pointer">info</i>
            </a>
        </div>
    </div>
    <h5 class="blue-grey-text">>> Contenu de l'article</h5>
    <div class="row">
        <div class="col s12 m6">
            <div class="input-field">
                {{ form_errors(articleForm.chapter) }}
                {{ form_widget(articleForm.chapter) }}
                {{ form_label(articleForm.chapter, null) }}
            </div>
        </div>
        <div class="col s12 m6">
            <div class="input-field">
            {{ form_errors(articleForm.title) }}
            {{ form_widget(articleForm.title) }}
            {{ form_label(articleForm.title, null) }}
        </div>
        </div>
        
    </div>
    <div class="row">
        <div class="input-field">
            {{ form_errors(articleForm.content) }}
            {{ form_widget(articleForm.content) }}
        </div>
    </div>
    <div class="mt_btn right-align">
        <button class="btn-floating btn-large tooltipped green lighten-1" type="submit" data-position="left" data-delay="30" data-tooltip="Sauvegarder"><i class="material-icons">save</i></button>
    </div>

    {{ form_end(articleForm) }}
</div>
{% endblock content %}