{% extends "layout.html.twig" %} 
{% block title %} Les chapitres {% endblock title %} 
{% block content %}
<div class="container">
    <h2 class="blue-grey-text text-darken-2">Tous les chapitres</h2>
    <hr>
    <div class="container">
        {% for chapter in chapters %}
            <h3 class="deep-orange-text chapterTitle">Chapitre {{ chapter.number }} - {{ chapter.title }}</h3>
            <div class="divider"></div>
            {% for article in chapter.article %}
                <section class="chapter">
                    <div class="chapter-img-block">
                        <img src="{{ asset('img/' ~article.image ) }}" alt="Photo de l'Alaska" class="chapter-img">
                    </div>
                    <h4><a href="/article/{{article.id}}">{{article.title}}</a></h4>
                    <p>{{ article.content | truncate(320) | raw }}</p>
                </section>
                
            {% endfor %}

        {% endfor %}
    </div>
</div>
{% endblock content %}
