{% extends "layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}
    {{ title }}
{% endblock title %}

{% block content %}
    <h2 class="blue-grey-text text-darken-2"><i class="material-icons medium icon-bottom-medium">mode_edit</i>{{ block('title') }}</h2>
    <hr>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="card-panel green white-text">
            {{ flashMessage }}
        </div>
    {% endfor %}

    <div class="container">
        {{ form_start(commentForm) }}
            {{ form_widget(commentForm.reporting, { 'attr': { 'value': null } }) }}
            <div>
                {{ form_label(commentForm.author) }}
                <div class="input-field">
                    {{ form_errors(commentForm.author) }}
                    {{ form_widget(commentForm.author) }}
                </div>
                {{ form_label(commentForm.content) }}
                <div class="input-field">
                    {{ form_errors(commentForm.content) }}
                    {{ form_widget(commentForm.content, { 'attr': { 'class': 'materialize-textarea', 'rows': '4' } }) }}
                </div>
            </div>
            <div class="mt_btn right-align">
                <button class="btn-floating btn-large tooltipped green lighten-1" type="submit" data-position="left" data-delay="30" data-tooltip="Sauvegarder"><i class="material-icons">save</i></button>
            </div>
        {{ form_end(commentForm) }}
    </div>
{% endblock content %}