{% extends "layout.html.twig" %}
{% block title %}Les articles {% endblock title %} 
{% block content %}
<h2 class="blue-grey-text text-darken-2">Tous les articles</h2>
<hr>
<div class="row">
    {% for article in articles %}
        <div class="col m12 l6">
            <div class="card card-article hoverable blue-grey">
                <div class="card-content white-text">
                    <h3 class="card-title">{{article.title | upper}}</h3>
                    <p>{{ article.content | truncate(160) | raw }}</p>
                </div>
                <div class="card-content bottom white-text">
                    <p>Chapitre {{ article.chapter }}</p>
                    <p><strong>{{article.author}}</strong> - <em>{{article.date | date('d/m/Y')}}</em></p>
                </div>
                <div class="card-action right-align">
                    <a href=" {{ path('article', { 'id': article.id }) }}" class="orange-text"><i class="material-icons tiny icon-bottom-tiny">add</i> Lire la suite</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock content %}