<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/ico" href="favicon.ico">
    
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
    <!-- personnal CSS -->
    <link rel="stylesheet" href="{{ asset ('css/styles.css')}}">

    <title>Billet simple pour l'Alaska - {% block title %} {% endblock title %} </title>
</head>

<body>
    <!-- Dropdown Structure -->
    {% include 'inc/dropdownMenu.html.twig' %}

    <!-- Responsive menu -->
    {% include 'inc/responsiveMenu.html.twig' %}

    <div class="navbar-fixed">
        <nav class="blue-grey darken-2">
            <div class="nav-wrapper">
                <a href="/" class="brand-logo">Billet simple pour l'Alaska</a>
                <ul class="right hide-on-med-and-down" id="nav-mobile">
                    <li class="{% if current_uri == '/' %}active{% endif %} ">
                        <a href="{{ path('home') }}"><i class="material-icons left">description</i> Accueil</a>
                    </li>
                    <li class="{% if current_uri == '/chapters' %}active{% endif %}">
                        <a href="{{ path('chapters') }}"><i class="material-icons left">library_books</i> Chapitres</a>
                    </li>
                    <li class="{% if current_uri == '/about' %}active{% endif %}">
                        <a href="{{ path('about') }}"><i class="material-icons left">info</i> A propos</a>
                    </li>
                    <li> <!-- Dropdown trigger -->
                        <a class="dropdown-button" href="#!" data-activates="dropdown1">
                            {% if app.user and is_granted('ROLE_ADMIN') %}
                            Bonjour, {{ app.user.username }}<i class="material-icons right">arrow_drop_down</i>
                            {% endif %}
                        </a>
                    </li>
                </ul>
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
            </div>
        </nav>
    </div>
    
    {% block intro %} {% endblock intro %}
    {% block content %} {% endblock content %}

    <footer class="page-footer blue-grey darken-2">
        <div class="footer-copyright">
            <div class="container">
                 <p>&copy; Copyright Jean Forteroche 2017</p>
            {% if app.user and is_granted('ROLE_ADMIN') %}
                <p>Vous êtes connecté à l'administration.</p>
            {% else %}
            <p>
                <a href="{{ path('login') }}" class="link-footer"><i class="material-icons icon-bottom-small">person_outline</i> Se connecter à l'administration</a>
            </p>
            </div>
        </div>
        {% endif %}
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Tiny MCE -->
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=rmn7wfydsgzro3alm5wnbd1e2czouq6aymkzocgwo9iqgtbh"></script>
    <script type="text/javascript">
        tinymce.init({
            selector:'#article_content',
            language: 'fr_FR',
            language_url : '/js/tinymce/js/langs/fr_FR.js',
            setup: function(editor) {
                editor.on('submit', function(e) {
                    console.log('submit event', e);
                });
            },
            min_height: 300,
            plugins: [
                'advlist autolink link image lists charmap print preview hr anchor pagebreak spellchecker',
                'searchreplace wordcount visualblocks visualchars code fullscreen insertdatetime media nonbreaking',
                'save table contextmenu directionality emoticons template paste textcolor'
            ],
            toolbar: [
                'insertfile undo blue-greyo | styleselect | bold italic underline strikethrough | emoticons | link image',
                'alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | forecolor backcolor'
            ]
        });
    </script>

    <!-- Materialize JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="{{ asset ('js/app.js')}}"></script>
    
    <!-- Personal JS -->
    <script src="{{ asset ('js/comment.js')}}"></script>
</body>

</html>
