{% extends "layout.html.twig" %}
{% block title %} {{article.title}} {% endblock title %}
{% block content %}
    <h1 class="chapter-title blue-grey-text text-darken-2">{{article.title | upper}}</h1>
    <span class="text-tiny blue-grey-text text-darken-2">chapitre {{ article.chapter }}</span>
    <hr>
    <p>{{article.content | raw}}</p>
    <h3 class="blue-grey-text text-darken-2"><i class="fa fa-comments" aria-hidden="true"></i> Commentaires <span class="text-tiny">(Il y a {{ nbrComments }} commentaire{{ nbrComments > 1 ? 's' : '' }})</span></h3>
    <hr>
    {% for comment in comments %}
        <div class="card hoverable">
            <div class="card-content">
                <div class="card-title">
                    <p>Le {{ comment.date | date('d/m/Y à H:i:s') }} - <strong>{{ comment.author }}</strong> :</p>  
                </div>
                 <p>{{ comment.content }}</p>
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light blue-grey" type="button">Répondre</button>
                <button class="btn waves-effect waves-light red" type="button">Signaler</button>
            </div>
        </div>
        {% else %} Pas encore de commentaires. {% endfor %}
        <h3 class="blue-grey-text text-darken-2"><i class="fa fa-pencil" aria-hidden="true"></i> Ajouter un commentaire</h3>
        <hr> {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %} 
    {% if commentForm %} 
        {{ form_start(commentForm) }}
        <div class="input-field">
            {{ form_label(commentForm.author, 'Pseudo :', { 'label_attr': { 'for': 'pseudo' } }) }}
            {{ form_widget(commentForm.author, { 'attr': { 'class': 'validate', 'id': 'pseudo'} }) }}
        </div>
        <div class="input-field">
            {{ form_label(commentForm.content, 'Commentaire :', { 'label_attr': { 'for': 'comment' } }) }}
            {{ form_errors(commentForm.content) }} {{ form_widget(commentForm.content, { 'attr': { 'rows': '4', 'class': 'validate materialize-textarea'} }) }}
        </div>
        <div class="input-field">
            <button type="submit" class="btn btn-large amber darken-4"><i class="material-icons left">done</i>Publier</button>
        </div>
        {{ form_end(commentForm) }} 
    {% endif %}
{% endblock content %}